* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.hire {
  background-image: url('/images/FB_IMG_17660666306803699.jpg');
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.hire-hero {
  padding: 40px;
}

.hero-text span {
  background: linear-gradient(90deg, #4f46ff 0% , #7b3cff 50%, #ff3ea5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-family: 'Sora' , sans-serif;
  display: inline-block;
  padding-bottom: 20px;
}

.hero-text h1 {
  color: white;
  font-size: 50px;
  font-family: 'Sora' , sans-serif;
  text-transform: capitalize;
  width: 600px;
  padding-bottom: 15px;
}

.hero-text p {
  color: #ddd;
  font-size: 15px;
  font-family: 'Inter' , sans-serif;
  width: 320px;
  line-height: 25px;
}

.hero-button {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.start button{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background: linear-gradient(90deg, #4f46ff 0% , #7b3cff 50%, #ff3ea5 100%);
  border: none;
  border-radius: 10px;
}

.me button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 35px;
  font-size: 18px;
  border-radius: 10px;
  background: none;
  border: 3px solid black;
  color: white;
}
/* services section */
.services {
  padding: 40px 6%;
  color: white;
}

.service-text {
  text-align: center;
}

.service-text p {
  color: #4f46ff;
  font-size: 18px;
  font-family: 'Inter' , sans-serif;
}

.service-text h2 {
  font-family: 'Sora' , sans-serif;
  text-transform: capitalize;
  font-size: 35px;
  padding-top: 10px;
}

.service-grid svg {
  fill: #7b3cff;
  width: 60px;
  height: 60px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
  gap: 40px;
}

.logo-flex,
.brand-flex,
.poster-flex,
.design-flex  {
  text-align: center;
  background-color: #0d1117;
  padding: 20px 10px;
  line-height: 40px;
  margin-top: 25px;
}

.logo-flex h3,
.brand-flex h3,
.poster-flex h3,
.design-flex h3 {
  font-size: 25px;
  font-family: 'Sora' , sans-serif;
  text-transform: capitalize;
}

.logo-text .logos ,
.brand-text .brands,
.poster-text .posters,
.design-text .designs{
  font-size: 15px;
  font-family: 'Inter' , sans-serif;
  color: #ddd;
  line-height: 30px;
}

.brand-line,
.logo-line,
.poster-line,
.packaging-line {
  margin: 20px 70px;
  text-align: center;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #7b3cff;
}

.logo-text p,
.brand-text p,
.poster-text p,
.design-text p {
  color: #ddd;
  font-size: 15px;
  font-family: 'Inter' , sans-serif;
}

.logo-text p span,
.brand-text p span,
.poster-text p span,
.design-text p span {
  color: white;
  font-size: 17px;
  font-family: 'Sora' , sans-serif;
}
/* work section */
.work {
  padding: 40px 2%;
}

.work-head {
  text-align: center;
}

.work-head p {
  font-size: 18px;
  color: #7b3cff;
  font-family: 'Inter' , sans-serif;
}

.work-head h2 {
  color: white;
  text-transform: capitalize;
  font-family: 'Sora' , sans-serif;
  padding-top: 10px;
  font-size: 35px;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  gap: 20px;
  padding-top: 30px;
}

.fast-flex,
.quality-flex,
.clear-flex,
.unlimited-flex {
  display: flex;
  gap: 15px;
  color: white;
}

.work-grid svg {
  background-color: #0d1117;
  padding: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  fill: #7b3cff;
}

.fast-flex p,
.quality-flex p,
.clear-flex p,
.unlimited-flex p {
  color: #ddd;
  font-family: 'Inter' , sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.fast-flex h3,
.quality-flex h3,
.clear-flex h3,
.unlimited-flex h3 {
  font-size: 20px;
  font-family: 'Sora' , sans-serif;
}
/* process section */
.process {
  padding: 40px 5%;
}

.process-head {
  text-align: center;
}

.process-head p {
  color: #7b3cff;
  font-family: 'Inter' , sans-serif;
  font-size: 18px;
}

.process-head h2 {
  font-size: 35px;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Sora' , sans-serif;
  padding-top: 5px;
}

.process-flex {
  padding-top: 30px;
  display: flex;
}

.process-flex svg {
  width: 85px;
  height: 85px;
  fill: #7b3cff;
  border: 1px solid #7b3cff;
  padding: 20px;
  border-radius: 50px;
}

.process-line {
  width: 100%;
  height: 1px;
  background-color: #7b3cff;
  margin-top: 40px;
}

.process-flex span {
  color: #ddddddb9;
  font-family: 'Sora' , sans-serif;
  font-size: 16px;
}

.discovery-text,
.design-text,
.revision-text,
.delivery-text,
.concept-text {
  text-align: center;
  padding-top: 10px;
  line-height: 30px;
}

.process-flex h3 {
  font-family: 'Sora' , sans-serif;
  color: white;
}

.discovery-text p,
.design-text p,
.revision-text p,
.delivery-text p,
.concept-text p {
  font-size: 15px;
  color: #ddd;
  font-family: 'Inter' , sans-serif;
}


@media(max-width: 480px) {
  .hire {
    background-position: center;
    background-size: cover;
    height: 120vh;
  }

  .hero-text h1{
    font-size: 25px;
    width: 300px;
    line-height: 40px;
  }

  .hero-text p {
    font-size: 15px;
    width: 260px;
  }

  .hero-button {
    flex-direction: column;
  }
  /* services section */

  .service-text p {
    font-size: 15px;
  }

  .service-text h2 {
    font-size: 25px;
  }
  /* work section */
  .work-head h2 {
    font-size: 25px;
  }
  .work-head p {
    font-size: 15px;
  }
  /* process section */
  .process-head p {
    font-size: 15px;
  }

  .process-head h2 {
    font-size: 25px;
  }

  .process-flex {
    flex-direction: column;
  }
  
  .process-line {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .discovery,
  .concept,
  .design,
  .revision,
  .delivery {
    text-align: center;
  }
}

@media(min-width: 481px) and (max-width: 768px) {
  .hire {
    background-position: right;
    background-size: contain;
  }

  .hire h1 {
    font-size: 40px;
    width: 500px;
  }
}