* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

header {
  background-color: #2e2e2e;
  padding: 10px;
  position: sticky;
  top: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar h1 {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-bar ul li a:hover {
  color: rgb(144, 142, 142);
}

.nav-bar li a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

/* hero section */

.hero {
  background-image: url('/images/FB_IMG_17660666306803699.jpg');
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: right;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero {
  padding-left: 10px;
}

.hero h2 {
  font-size: 75px;
  color: white;
}

.hero p {
  font-size: 25px;
  color: red;
  text-transform: capitalize;
}


@media (max-width: 480px) {
  .nav-bar h1{
    font-size: 20px;
  }.nav-bar ul {
    display: none;
  }.hamburger {
    display: flex;
  }

  .hero {
    background-position: center;
    background-size: contain;
    height: 50vh;
    /* padding-top: 600px; */
  }
  .hero h2 {
    font-size: 50px;
    letter-spacing: 1.5px;
  }

  .hero p {
    font-size: 18px;

  }
}
