* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  font-family: 'Sora' , sans-serif;
  padding: 20px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.logo h1 span {
  color: #00bfff;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

nav ul li a:hover {
  color:rgb(144, 142, 142);
}

nav li a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  gap: 10px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #00bfff;
}

a button{
  padding: 15px 20px;
  font-size: 20px;
  color: white;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  border: none;
}
/* hero section */
.sec {
  background-image: url('/images/FB_IMG_17660666306803699.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: start;
  text-align: start;
  padding-top: 70px;
  position: relative;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.hero {
  padding: 40px;
  z-index: 900;
}

.hero-heading .first {
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-family: 'Inter' , sans-serif;
  padding-bottom: 15px;
}

.hero-heading .daniel {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.hero-heading h1 {
  color: white;
  text-transform: capitalize;
  font-size: 55px;
  width: 600px;
  font-family: 'Sora' , sans-serif;
}

.hero-heading .life {
  font-size: 20px;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter' , sans-serif;
  text-transform: capitalize;
  font-size: 55px;
}

.hero-text{
  padding: 20px 0;
}

.hero-text .help {
  font-size: 18px;
  color: #ddd;
  font-family: 'Inter' , sans-serif;
  width: 350px;
  line-height: 30px;
}

.hero-buttons2 {
  display: flex;
  gap: 30px;
}

.hire button {
  padding: 20px 30px;
  font-size: 18px;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  border: none;
  border-radius: 10px;
  transition: 0.6s;
}

.view button {
  padding: 20px 30px;
  font-size: 18px;
  background: none;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
}

.hire button:hover {
  transition: 0.6s;
  background: none;
  color: white;
  border: 3px solid black;
}

.view button:hover {
  transition: 0.5s;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  color: black;
  border: none;
}
/* project section */

.project {
  padding: 100px 10%;
}

.project-head {
  text-align: center;
}

.project-head p {
  color: #7b3cff;
  font-size: 18px;
  font-family: 'Inter' , sans-serif;
}

.project-head h2 {
  font-size: 35px;
  color: white;
  font-family: 'Sora' , sans-serif;
  text-transform: capitalize;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 30px;
}

.project-img {
  padding-bottom: 70px;
}

.project-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-text h3{
  font-size: 20px;
  color: white;
  font-family: 'Sora', sans-serif;
}

.project-text p {
  color: #ddd;
  font-family: 'Inter' , sans-serif;
  font-size: 15px;
  padding-top: 10px;
}

.all {
  text-align: center;
  padding-top: 10px;
}

.all button {
  padding: 15px 35px;
  font-size: 18px;
  color: white;
  border: 1px solid #ddd; 
  background: none;
}
/* services section */
.service {
  padding: 10px 8%;
}

.service svg {
  width: 80px;
  height: 80px;
  fill: #7b3cff;
}

.service-head {
  text-align: center;
}

.service-head p {
  color: #7b3cff;
  font-size: 18px;
  font-family: 'Inter' , sans-serif;
  padding-bottom: 10px;
}

.service-head h2 {
  font-family: 'Sora' , sans-serif;
  color: white;
  font-size: 35px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px ,1fr));
  gap: 20px;
  padding-top: 30px;
}

.brand-flex,
.package-flex,
.print-flex,
.logo-flex {
  background-color: #0d1117;
  padding: 40px 20px;
  text-align: center;
}

.brand-text h3,
.print-text h3,
.package-text h3,
.logo-text h3{
  font-size: 25px;
  font-family: 'Sora' , sans-serif;
  text-transform: capitalize;
  color: white;
  padding: 10px 0;
}

.brand-text p,
.print-text p,
.package-text p,
.logo-text p {
  font-size: 15px;
  color: #ddd;
  font-family: 'Inter' , sans-serif;
  line-height: 28px;
}
/* about section */

.about {
  padding: 50px 3%;
  color: white;
}

.about-flex {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-img,
.about-text {
  flex: 1;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-head {
  padding: 5px 0;
  line-height: 30px;
}

.about-head p {
  font-size: 15px;
  color: #7b3cff;
  font-family: 'Inter' , sans-serif;
}

.about-head h2 {
  font-size: 35px;
  color: white;
  font-family: 'Sora' , sans-serif;
}

.about-list-2 {
  padding-top: 15px;
}

.about-list-2 :first-child{
  font-size: 15px;
  font-family: 'Inter' , sans-serif;
  padding-bottom: 5px;
  line-height: 25px;
  width: 450px;
}

.about-list-2 p {
  font-size: 15px;
  font-family: 'Inter' , sans-serif;
  width: 350px;
  color: #ddd;
  line-height: 25px;
}

.experience {
  display: flex;
  gap: 30px;
  padding-top: 25px;
  text-align: center;
}

.experience-line {
  width: 1px;
  height: 50px;
  background-color: #ddd;
}

.years h3,
.complete h3,
.client h3{
  font-size: 50px;
  font-family: 'Sora' , sans-serif;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.years p,
.complete p,
.client p {
  font-size: 17px;
  font-family: 'Inter' , sans-serif;
  color: #dddddda2;
}
/* get in-touch section */
.get {
  padding: 40px 5%;
}

.get-head {
  text-align: center;
}

.get-head p {
  color: #7b3cff;
  font-size: 15px;
  font-family: 'Inter' , sans-serif;
}

.get-head h2 {
  font-size: 35px;
  color: white;
  font-family: 'Sora' , sans-serif;
  padding-top: 5px;
}

.get-flex {
  display: flex;
  gap: 30px;
  padding-top: 30px;
}

.contact-svg,
.contact-form {
  flex: 1;
}

.contact-svg svg {
  width: 40px;
  height: 40px;
  fill: #ddd;
}

.message,
.phone,
.location{
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-svg {
  padding: 10px 0;
}

.message p,
.phone p,
.location p {
  font-size: 15px;
  font-family: 'Inter' , sans-serif;
  color: #ddd;
  line-height: 30px;
}

.location p {
  width: 250px;
}

.contact-svg p{
  color: #ddd;
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 20px;
  }

  .sec {
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    height: 100vh;
  }

  .hero {
    padding: 10px;
  }

  .hero-heading .first {
    font-size: 19px;
    padding-bottom: 5px;
  }.hero-heading h1 {
    font-size: 30px;
    width: 300px;
    line-height: 40px;
  }.hero-heading .life {
    font-size: 30px;
  }.hero-heading .daniel {
    font-size: 22px;
  }

  .hero-text .help {
    width: 200px;
  }

  .hero-buttons2 {
    flex-direction: column;
  }

  .hire button {
    padding: 10px 20px;
  }

  .view button {
    padding: 10px 20px;
  }
  /* project section*/
  .project-head p {
    font-size: 16px;
    padding-bottom: 5px;
  }

  .project-head h2 {
    font-size: 30px;
  }

  .project-grid {
    gap: 10px;
  }

  .all {
    padding-top: 25px;
  }
  /* about section */

  .about-flex {
    flex-direction: column;
  }

  .about-text {

  }

  .about-head p {
    font-size: 15px;
  }

  .about-head h2{
    font-size: 30px;
    width: 350px;
  }

  .about-text :first-child {
    width: 300px;
  } 

  .about-text p {
    width: 250px;
  }

  .experience {
    flex-direction: column;
  }
  .experience-line {
    text-align: center;
    width: 100%;
    height: 1px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .sec {
    background-position: right;
    height: 110vh;
    width: 100%;
  }

  .hero-heading h1 {
    font-size: 35px;
    width: 350px;
    line-height: 50px;
  }

  .hero-heading .first {
    padding-bottom: 15px;
  }
  /* project */

  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px 1fr));
    gap: 5px;
  }

  .project-head h2 {
    font-size: 34px;
  }

  .project-text {
    line-height: 10px;
  }

  .project-text p {
    padding-top: 20px;
  }

  .all {
    padding-top: 20px;
  }
  /* about section */
  .about-flex {
    flex-direction: column;
  }

  .about-head h2 {
    padding-top: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .all {
    padding-top: 20px;
  }

  .all button {
    border: 1px solid #ddd;
  }
}

@media (max-width: 1000px) {
 .hamburger {
  display: block;
 }

 .hamburger.active .bar:nth-child(2){
  opacity: 0;
 }

 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }

 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  li {
    margin: 16px 0;
  }

  a {
    color: white;
  }

  ul.active {
    left: 0;
  }

}