* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
}

header {
  font-family: 'Sora' , sans-serif;
  padding: 20px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.logo h1 span {
  color: #00bfff;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

nav ul li a:hover {
  color:rgb(144, 142, 142);
}

nav li a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  gap: 10px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #00bfff;
}

a button{
  padding: 15px 20px;
  font-size: 20px;
  color: white;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  border: none;
}
/* hero section */
.sec {
  background-image: url('/images/FB_IMG_17660666306803699.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: start;
  text-align: start;
  padding-top: 70px;
  position: relative;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.hero {
  padding: 40px;
  z-index: 900;
}

.hero-heading .first {
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-family: 'Inter' , sans-serif;
}

.hero-heading .daniel {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.hero-heading h1 {
  color: white;
  text-transform: capitalize;
  font-size: 55px;
  width: 600px;
  font-family: 'Sora' , sans-serif;
}

.hero-heading p {
  font-size: 20px;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter' , sans-serif;
  text-transform: capitalize;
  font-size: 55px;
}

.hero-text{
  padding: 20px 0;
}

.hero-text p {
  font-size: 18px;
  color: #ddd;
  font-family: 'Inter' , sans-serif;
  width: 350px;
  line-height: 30px;
}

.hero-buttons2 {
  display: flex;
  gap: 30px;
}

.hire button {
  padding: 20px 30px;
  font-size: 18px;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  border: none;
  border-radius: 10px;
  transition: 0.6s;
}

.view button {
  padding: 20px 30px;
  font-size: 18px;
  background: none;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
}

.hire button:hover {
  transition: 0.6s;
  background: none;
  color: white;
  border: 3px solid black;
}

.view button:hover {
  transition: 0.5s;
  background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
  color: black;
  border: none;
}
/* project section */

.project {
  padding: 100px 10%;
}

.project-head {
  text-align: center;
}

.project-head p {
  color: #7b3cff;
  font-size: 18px;
  font-family: 'Inter' , sans-serif;
}

.project-head h2 {
  font-size: 35px;
  color: white;
  font-family: 'Sora' , sans-serif;
  text-transform: capitalize;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.project-img {
  padding-bottom: 70px;
}

.project-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-text h3{
  font-size: 20px;
  color: white;
  font-family: 'Sora', sans-serif;
}

.project-text p {
  color: #ddd;
  font-family: 'Inter' , sans-serif;
  font-size: 15px;
  padding-top: 10px;
}

.all {
  text-align: center;
  padding-top: 10px;
}

.all button {
  padding: 15px 35px;
  font-size: 18px;
  color: white;
  border: 1px solid #ddd; 
  background: none;
}


@media (max-width: 480px) {
  .logo h1 {
    font-size: 20px;
  }

  .sec {
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    height: 100vh;
  }

  .hero {
    padding: 10px;
  }

  .hero-heading .first {
    font-size: 15px;
  }.hero-heading h1 {
    font-size: 25px;
    width: 250px;
    line-height: 40px;
  }.hero-heading p {
    font-size: 30px;
  }

  .hero-text p {
    width: 200px;
  }

  .hero-buttons2 {
    flex-direction: column;
  }

  .hire button {
    padding: 10px 20px;
  }

  .view button {
    padding: 10px 20px;
  }
  /* project section*/
  .project-head p {
    font-size: 16px;
    padding-bottom: 5px;
  }

  .project-head h2 {
    font-size: 30px;
  }

  .project-grid {
    gap: 10px;
  }

  .all {
    padding-top: 25px;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .sec {
    background-position: right;
    /* background-size: contain; */
    height: 110vh;
    width: 100%;
  }

  body {
    /* background-color: none; */
  }

  .hero-heading h1 , p {
    font-size: 35px;
    width: 350px;
    line-height: 50px;
  }
  /* project */

  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px 1fr));
    gap: 5px;
  }

  .project-head p{
    text-align: center;
    padding: 0;
  }

  .project-head h2 {
    font-size: 34px;
  }

  .project-text {
    line-height: 10px;
  }

  .project-text p {
    padding-top: 0px;
  }

  .all {
    padding-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .all {
    padding-top: 20px;
  }

  .all button {
    border: 1px solid #ddd;
  }
}

@media (max-width: 1000px) {
 .hamburger {
  display: block;
 }

 .hamburger.active .bar:nth-child(2){
  opacity: 0;
 }

 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }

 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: linear-gradient(90deg, #4f46ff 0%, #7b3cff 50%, #ff3ea5 100%);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  li {
    margin: 16px 0;
  }

  a {
    color: white;
  }

  ul.active {
    left: 0;
  }

}